.container {
	overflow: hidden;
	text-align: center;
	color: #5d5c61;
}
.row {
	    padding: 12% 6% 0 6%;
}
.header{
	font-size: 5rem;
    font-family: fantasy;
    font-weight: bold;
}
.headerInfo {
	ine-height: 3rem;
    font-size: 2.2rem;
    font-family: serif;
    margin: 4rem;
}
.programBox {
	background: #f3f3f3;
    padding: 3rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
	position: relative;
	overflow: hidden;
}
.programBoxText {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.14);
    top: 70%;
    left: 0;
    border-top: 1px solid #a5a5a5;
}
.programBoxText:hover {
    top: 0;
    left: 0;
    border-top: none;
}
.programBoxText .textHeader {
	padding-top: 6%;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}
.textDeatil {
    color: #3e3e3e;
    font-family: sans-serif;
}
.hide {
	display: none
}
.startTrackButton {
	width: 20rem;
    height: 5rem;
    border: 1px solid #03898a;
    background: #00b3b4;
    color: #fff;
    border-radius: 1rem;
    font-size: 2.3rem;
    font-family: fantasy;
    line-height: 5rem;
}
.buttonWrapper {
	margin-top: 10rem;
}
.startTrackButton:hover {
	border: 1px solid #00b3b4;
    background: #f9f9f9;
    color: #00b3b4;
    text-decoration: underline;
}
.inputWrapper {
	margin-bottom: 1rem;
}
.page2 input {
	display: block;
    width: 35rem;
    margin: 0 auto !important;
    background-color: #fff;
    height: 5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #00b3b4;
}
.checkbox label {
	font-size: 1.9rem;
    font-family: serif;
    text-align: left;
    width: 100%;
    padding-left: 30px !important;
    line-height: 3.6rem;
    
}
.checkbox {
	position: relative;
	margin-left: 20%;
}
i {    position: absolute;
    left: 0px;
    top: 10px;
    border: 1px solid #ccc;
    width: 1.5rem;
    height: 1.5rem;
}
.col-sm-3 {
	margin-top: 1rem;
}
.error, .errorMsg {
	color: red;
}
.errorMsg, .errorMsgP {
	font-size: 4rem;
}
